NODE_ENV=production
PORT=3010
UPLOADS_ROOT=/data/uploads
PUBLIC_BASE_URL=https://uploads.vase.ar
MAX_FILE_SIZE_MB=50
PUBLIC_LINK_TTL_SECONDS=604800
CORS_ORIGIN=https://vase.ar,https://editor.vase.ar

UPLOADS_JWT_SECRET=zDpmaD5A5DU0e2iuan+luSH0XwJn2e/ytayVztQScNCCdsKdGScrhB6RxpzAXhQ7
PUBLIC_URL_SECRET=CvOTrfQXmNiqL5Pyo5+lA8wasg2LpZyxCwlHJRTA2yvDZAJvouM7bOTm7V/YlLaO

